.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("../images/bg.jpg"); */
  background-repeat: no-repeat;
  background-size: 1700px;
  font-weight: 100;
  font-style: italic;

}

/* .inputContainer input {
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 15px;
  margin: 30px;
  background-color: #2147d0;
  border: 1px solid black;
  opacity: 0.6;
  color: rgb(255, 255, 255);
}

.header button {
  border-radius: 25px;
  
  background-color: #2147d0;
  border: 1px solid black;
  opacity: 0.6;
  color: rgb(255, 255, 255);
  font-weight: 300;
} */